<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>As you can see, I'm not terribly productive.</p>
  </body>
  {{> footer}}
</html>
